.reveal h1.demo,
.reveal h2.demo,
.reveal h3.demo,
.reveal h4.demo,
.reveal h5.demo,
.reveal h6.demo {
  margin-top: -0.8em;
}
.reveal iframe.blocks,
.reveal iframe.demo {
  width: 100%;
  height: 650px;
  margin-left: -30px;
}
.reveal section img {
  border: none;
  box-shadow: none;
}
.reveal #title h1,
.reveal #title h2,
.reveal #title h3,
.reveal #title h4,
.reveal #title h5,
.reveal #title h6 {
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: -0.05em;
}
.reveal #title h1 {
  font-size: 3.2em;
}
.reveal #title .email {
  margin-top: -0.8em;
}
.reveal img.demo {
  max-height: 500px;
}
.reveal #comparisonTable {
  font-size: 0.5em;
}
.reveal #comparisonTable td {
  width: 33%;
}
.reveal .small {
  font-size: 80%;
}
.reveal .tiny {
  font-size: 60%;
}
.reveal .bottom {
  margin-top: 65%;
}
.reveal .authors {
  font-size: 70%;
}
.reveal .left {
  left: -8.33%;
  text-align: left;
  float: left;
  width: 50%;
  z-index: -10;
}
.reveal .right {
  left: 31.25%;
  top: 75px;
  float: right;
  z-index: -10;
  width: 50%;
}
.reveal #handsOn pre {
  width: 70%;
  font-size: 0.5em;
  float: left;
}
.reveal #handsOn div.target {
  margin: 20px;
  width: 25%;
  float: left;
  font: 10px sans-serif;
}
.reveal #handsOn div.target rect {
  fill: #4682b4;
}
.reveal #handsOn div.target circle {
  opacity: 0.3;
}
.reveal #handsOn div.target path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.reveal #handsOn div.target path.area {
  fill: #e7e7e7;
}
.reveal #handsOn div.target .axis {
  shape-rendering: crispEdges;
}
.reveal #handsOn div.target .x.axis line {
  stroke: #bbb;
}
.reveal #handsOn div.target .x.axis .minor {
  stroke-opacity: 0.5;
}
.reveal #handsOn div.target .x.axis path {
  fill: none;
}
.reveal #handsOn div.target .y.axis line,
.reveal #handsOn div.target .y.axis path {
  fill: none;
  stroke: #333;
}
.reveal #handsOn button.execute {
  clear: both;
  font-size: 0.8em;
}
.reveal #handsOn div.followLink {
  font-size: 0.6em;
}
.reveal .contactInfo {
  text-align: right;
}
.reveal .contactInfo a {
  font-size: 0.6em;
}
.reveal .red {
  color: #e80000;
}
.reveal img.side {
  float: left;
  width: 45%;
  padding: 0 5px 0 5px;
}
.reveal .clear {
  clear: both;
}
.reveal .logo {
  height: 80px;
}
.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.flex * {
  margin: auto;
}
.flex .quarter {
  width: 22%;
  margin-right: 1%;
  margin-left: 1%;
}
.flex .third {
  width: 30%;
  margin-right: 1.5%;
  margin-left: 1.5%;
}
.flex .half {
  width: 45%;
  margin: auto;
}
.flex .twothirds {
  width: 60%;
  margin-right: 3%;
  margin-left: 3%;
}
.flex .flex1 {
  flex: 1;
}
.flex .flex2 {
  flex: 2;
}
.flex .flex3 {
  flex: 3;
}
.flex .flex4 {
  flex: 4;
}
#munznerpreferencechart {
  color: #fff;
  font-size: 0.6em;
}
#munznerpreferencechart .line {
  stroke: #4a90e2;
  stroke-width: 25;
  stroke-opacity: 0.3;
  fill: none;
}
#munznerpreferencechart .box rect {
  fill-opacity: 0.75;
}
#munznerpreferencechart .box:hover text {
  opacity: 1;
}
#munznerpreferencechart .mainArea.selected .line.selected {
  opacity: 0.9;
}
#munznerpreferencechart .mainArea.selected .line {
  opacity: 0.1;
}
#munznerpreferencechart .mainArea.selected .box {
  opacity: 0.1;
}
#munznerpreferencechart .mainArea.selected .box.selected {
  opacity: 0.9;
}
#munznerpreferencechart .box text {
  pointer-events: none;
  font-size: 14pt;
}
#munznerpreferencechart .axis path,
#munznerpreferencechart .axis line {
  fill: none;
/*stroke: #ccc*/
  shape-rendering: crispEdges;
}
#munznerpreferencechart .y.axis line {
  stroke: #fff;
}
#munznerpreferencechart text {
  font-size: 22pt;
}
.anscombeTable {
  width: 70%;
  float: left;
  font-family: sans-serif;
}
.anscombeTable td:nth-child(odd) {
  background-color: #eee;
}
.anscombeTable td:nth-child(even) {
  background-color: #ddd;
}
.anscombeTable td {
  font-size: 16pt;
  text-align: right;
}
.anscombeTable th {
  font-size: 20pt;
  text-align: center;
}
.anscombeTable tr:nth-child(2) td {
  text-align: center;
}
.anscombeResult {
  width: 25%;
  float: left;
  font-family: sans-serif;
}
.anscombeResult td:nth-child(1) {
  text-align: left;
}
.anscombeResult td {
  font-size: 12pt;
  text-align: right;
}
.anscombeResult th {
  font-size: 18pt;
  text-align: center;
}
