link(href='../lib/reset.css', rel='stylesheet')
link(href='../lib/reveal.css', rel='stylesheet')
link(href='../lib/theme/white.css', rel='stylesheet' id="theme")

link(rel="stylesheet" href="../lib/plugin/highlight/monokai.css")
//- link(href='../lib/css/zenburn.css', rel='stylesheet')

link(href='../css/style.css', rel='stylesheet')
//- //- Printing and PDF exports -->
//- script.
//-   var link = document.createElement( 'link' );
//-   link.rel = 'stylesheet';
//-   link.type = 'text/css';
//-   link.href = window.location.search.match( /print-pdf/gi ) ? '../lib/css/print/pdf.css' : '../lib/css/print/paper.css';
//-   document.getElementsByTagName( 'head' )[0].appendChild( link );
//- //- script(src='../lib/js/d3.min.js')
