
<script src="../lib/reveal.js"></script>
<script src="../lib/plugin/markdown/markdown.js"></script>
<script src="../lib/plugin/highlight/highlight.js"></script>
<script src="../lib/plugin/notes/notes.js"></script>
<script src="../lib/plugin/math/math.js"></script>
<script>
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    transition: "convex",
    //- height: 1.0,
  
    //- // Fill the viewport width and height
    //- width: "100%",
    //- height: "100%",
    
    plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.KaTeX ]
  });
  
</script>