doctype html
html
  head
    title CS5610 Web Development, John Alexis Guerra Gomez
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='CS5610 Web Development, Northeastern University, Oakland')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

    include ../partials/reveal_header.pug
  body


    .reveal
      .slides

        section#title
          h2 CS5610 Web Development
          img.logo(src="../img/seal_logotype-768x252.png" alt="Northeastern University")


          br
          p.small
            a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]

          br
          span jguerra at northeastern.edu
          br
          a(href='https://bsky.app/profile/johnguerra.bsky.social') @johnguerra.bsky.social
          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.tiny Slides:
            a(href='http://johnguerra.co/lectures/webDevelopment_spring2025/01_Introduction/', target='_blank') http://johnguerra.co/lectures/webDevelopment_spring2025/01_Introduction/
          p.tiny Class page:
            a(href='http://johnguerra.co/classes/webDevelopment_spring_2025/', target='_blank') http://johnguerra.co/classes/webDevelopment_spring_2025/


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png
        section
          section
            h1 Syllabus

          section
            h2 Class Objectives
            p At the end of the class you should be able to:
            ul
              li.fragment Build a modern web application
              li.fragment Be able to learn new web technologies
              li.fragment Understand web architectures
              li.fragment Love/Hate the professor

          section
            h2 Topics
            span.left.small
              :markdown-it
                * HTML5, CSS
                * JavaScript
                * Node.js
                * Mongo
                * Basic Web design
                * Usability
                * Web Accessibility
                * Security
            span.left.small
              :markdown-it
                * React
                * Testing
                * Public APIs, Facebook, Twitter, Instagram
                * Scalability
                * Desktop Apps with JS
                * SVG + Canvas
                * Web Sockets
                * Gatsby?

          section
            h2 Readings
            ul.small
              li.fragment Asynchronous materials
                ul
                  li.fragment You read them on your own
                  li.fragment Mandatory
                  li.fragment Tweet before class something about what you read
              li.fragment Synchronous materials
                ul
                  li.fragment Discussions
                  li.fragment Advanced topics
                  li.fragment Random questions (participation)

          section
            h2 Comments (tweets) before class
            ul
              li.fragment Must be #[strong interesting] and #[strong original]
              li.fragment Tweet using #WebDev @NortheasternCA
              li.fragment Count as part of the participation grade
                ul
                  li.fragment 2pts Original and interesting
                  li.fragment 1pts Interesting
                  li.fragment 0pts Non-interesting

          section
            h2 Class participation
            ul
              li.fragment
                a(href="https://stackoverflow.com/help/how-to-ask")  Ask questions
              li.fragment Bring over interesting topics
              li.fragment Teach us stuff! ;)

          section
            h2 Slack
            span Make sure you join these channels
            ul
              li #announcements For the official communications from staff.
                strong  Don't post here
              li #project For propossing your projects
              li #classchat Guess what

          section
            h2 Lottery
            ul
              li.fragment Ran in the first five minutes of the class
              li.fragment Be early
              li.fragment Questions about the readings for the day

          section
            h2 Lottery (Grading)
            span
              :markdown-it
                * -2  Wasn't there when called upon on class
                * -1  Answered wrong
                * 0 Regular answer
                * 1 Kind of good answer
                * 2 Great answer

          section
            h2 Lottery (Grading II)
            ul
              li Your final participation grade will depend of the median of the group
              li.fragment You need to have at least the median points of the group


          section
            h2 Requirements
            ul
              li.fragment Coding (that's what we do in CS)
              li.fragment Github and Bluesky accounts (fill the form on the class website)
              li.fragment Lot's of enthusiasm

          section
            h2 Grade
            table.table(style="width:100%")
              thead
                th Concept
                th %
              tbody
                tr
                  td Projects
                  td 60%
                tr
                  td Participation
                  td 20%
                tr
                  td Midterm Evaluation
                  td 20%

          section
            h2 Projects
            ul
              li.fragment One short project – Individually
              li.fragment Two short projects - Pairs
              li.fragment One final project - Pairs

          section
            h2 More about projects
            ul
              li.fragment All code to Github, MIT License
              li.fragment We are going to do Code Reviews
              li.fragment Class presentation
              li.fragment All projects are due 24hrs before class
              li.fragment Then you code review one of your classmates'
              li.fragment Mostly open topic
                ul
                  li.fragment But real world problems!

          section
            h2 Ethics and Code of conduct
            ul
              li.fragment Zero tolerance to fraud
              li.fragment Total respect
              li.fragment No mockery
              li.fragment No bullying
              li.fragment No discrimination

          section
            h2 Support
            ul
              li.fragment #[a(href="http://web-dev-neu.slack.com") Slack channel]
              li.fragment Office hours by appointment
              li.fragment Two/Three TAs


        //- ------------------------WHOAMI----------------------

        section#whoamI
          section
            h1 Who am I?

          section(data-background="images/Pereira.jpg")
            //- h2 Ingeniero de sistemas y computación UTP
            //- img(src="images/Pereira.jpg")

          section#IRIS
            img(src="images/IRIS_y_su_caja_peq.png")

          section#KebSolutions
            img(src="images/logo_keb.png")

          section#Fulbright
            img(src="images/Fulbright.png")

          section#Doctorado
            h1 PhD

          section#HCIL
            img(src="images/Ben_and_Catherine.jpg")

          section
            iframe.blocks(src="https://cdn.rawgit.com/mbostock/4063582/raw/dd152a94f98ab7081a41096a88ece375e64a8b6c/index.html")

          section
            img(src="images/lifelines.jpg")

          section
            img(src="images/lifeflow.png")

          section
            img(src="images/2012_08_20_paxs_overview_september_01.png")

          section
            a(href="https://treeversity.cattlab.umd.edu/?hierarchy=agency/bureau&db=tv2_budget&seqFrom=01/01/70&seqTo=01/01/15&currentFrom=40&title=US%20Federal%20Budget")
              img(src="images/treeversity_v2.png")

          //- section
            //- img(src="images/2013_03_29_Budget_2013_Reporting2.png")

          section
            img(src="images/2013_04_29_eBay.png")

          section
            img(src="images/13CaseStudies.png")

          section
            h2 Silicon Valley
            //- img(src="images/mapaCalifornia.png")

          section
            img(src="images/parc_rgb.png")

          section
            img.demo(src="images/topics_steamchart_with_wordclouds.png")

          section
            img.demo(src="images/network_explorer_overview_10k_nointer_cropped.png")


          section
            img(src="images/labs_us_purple_1000px_wide.png")

          //- section
          //-   img(src="images/Flickr.png")

          section
            img(src="images/christmass.png")

          section
            img(src="images/FlickrPopular.png")

          section
            img(src="images/topPhotos.png")

          section
            img(src="images/photoRing.png")

          section
            h2 Back to Colombia

          section(data-background-iframe="https://johnguerra.co/students.html")


        section
          section
            h1 Please read this book
            .flex
              .left
                ul
                  li
                    a(href="https://onesearch.library.northeastern.edu/discovery/fulldisplay?context=L&vid=01NEU_INST:NU_Olin&search_scope=Mills_and_CI&tab=Everything&docid=alma9952285852201401") Outsmart your Brain
              .right
                img(src="images/outsmartYourBrain.jpg", alt="Outsmart your Brain Book Cover")
          //- section
          //-   img(src="images/GeoExplorer.png")

        //- ------------ Examples --------------
        section#Examples
          section
            h1 Web Apps Examples

          section
            h3.demo My home page
            iframe.blocks(src="http://johnguerra.co")
            a.tiny(target="_blank" href="http://johnguerra.co") http://johnguerra.co

          section
            h3 My home page
            ul
              li #[strong DB:] None
              li #[strong Backend:] Apache
              li #[strong Frontend:] Bootstrap

          section
            h3.demo My PhD Thesis
            a.tiny(target="_blank" href="http://treeversity.cattlab.umd.edu") http://treeversity.cattlab.umd.edu

          section(data-background-iframe= "http://treeversity.cattlab.umd.edu")
            //- iframe.blocks(src="http://treeversity.cattlab.umd.edu")


          section
            h3 My PhD Thesis
            ul
              li #[strong DB:] Postgresql
              li #[strong Backend:] DJango (Python) + Apache
              li #[strong Frontend:] D3.js + Bootstrap + JQuery

          section
            h3.demo Tweetometro
            iframe.blocks(src="http://old.tweetometro.co")
            a.tiny(target="_blank" href="http://old.tweetometro.co") http://tweetometro.co

          section
            h3 Tweetometro
            ul
              li #[strong DB:] Plain text files
              li #[strong Backend:] DJango | Standalone Twitter API listener
              li #[strong Frontend:] D3.js + Bootstrap.js

          section
            h3.demo Who likes my Facebook
            img(src="images/wholikesmyfb_small.gif")
            //- iframe.blocks(src="http://wholikesmyfb.com")
            br
            a.tiny(target="_blank" href="http://wholikesmyfb.com") http://wholikesmyfb.com

          section
            h3 Who likes my Facebook
            ul
              li #[strong DB:] None
              li #[strong Backend:] Apache
              li #[strong Frontend:] D3.js + Bootstrap.js + Facebook API

          section
            h3.demo Auto Album Organizer
            img.blocks(src="images/autoalbum.gif")

          section
            h3 Auto Album Organizer
            ul
              li #[strong DB:] File System
              li #[strong Backend:] None
              li #[strong Frontend:] D3.js
              li Running as a desktop app with NW.js

          section
            h3.demo How did Colombia really vote
            iframe.blocks(src="http://johnguerra.co/viz/resultadosSegundaVuelta2018/")
            a.tiny(target="_blank" href="http://johnguerra.co/viz/resultadosSegundaVuelta2018/") http://johnguerra.co/viz/resultadosSegundaVuelta2018/

          section(data-background-iframe="http://johnguerra.co/viz/resultadosSegundaVuelta2018/")

          section
            ul
              li #[strong DB:] None
              li #[strong Backend:] Apache
              li #[strong Frontend:] D3.js + Scrollytelling

          section
            h3.demo BTactile
            iframe.blocks(src="http://btactile.com")
            a.tiny(target="_blank" href="http://btactile.com") http://btactile.com

          section
            h3 BTactile
            ul
              li #[strong DB:] Mongo
              li #[strong Backend:] Meteor
              li #[strong Backend:] Meteor + React.js

          section
            h2 Lucy Tejada Táctil
            a.tiny(target="_blank" href="http://lucytejadatactil.com") http://lucytejadatactil.com

          section(data-background-iframe="http://lucytejadatactil.com")

          section
            h3 Lucy Tejada Tactil
            ul
              li #[strong DB:] JSON + GraphQL
              li #[strong Backend:] Apache + Static Pages (Gatsby)
              li #[strong Frontend:] React


        section
          section
            h2 Next
            ul
              li.fragment
                a(href="https://www.codecademy.com/learn/learn-html-css", target="_blank") https://www.codecademy.com/learn/learn-html-css
                span  HTML Section
              li.fragment
                a(href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web", target="_blank") https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web
                span Up to (including) HTML basics
              li.fragment (Optional)
                a(href="http://www.htmldog.com/guides/html/", target="_blank") http://www.htmldog.com/guides/html/

          section
            h2.demo A little motivation
            a(href="https://www.paysa.com/salaries/full-stack-developer--t" target="_blank")
             img(src="images/full_stack_engineer_salary.png")
            a.tiny(href="https://www.paysa.com/salaries/full-stack-developer--t" target="_blank")  https://www.paysa.com/salaries/full-stack-developer--t



          section
            h2 Thank you
            h2.fragment And Welcome!


    include ../partials/reveal_footer.pug






