doctype html
html
  head
    title CS5610 Web Development, Bootstrap
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='CS5610 Web Development, Northeastern University, Oakland')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
include ../partials/reveal_header.pug
  body


    .reveal
      .slides

        section#title
          h2 Bootstrap
          img.logo(src="../img/seal_logotype-768x252.png" alt="Northeastern University")


          br
          p.small
            a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]

          p.tiny.email jguerra[at}northeastern.edu |
            a(href='http://twitter.com/duto_guerra' , target='_blank')  @duto_guerra
            br


            //- br
            //- span ja.guerrag en uniandes.edu.co
            //- br
            //- a(href='https://bsky.app/profile/johnguerra.bsky.social') @johnguerra.bsky.social
          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.tiny Slides:
            a(href='http://johnguerra.co/lectures/webDevelopment_fall2025/04_Bootstrap/', target='_blank') http://johnguerra.co/lectures/webDevelopment_fall2025/04_Bootstrap/
          p.tiny Class page:
            a(href='http://johnguerra.co/classes/webDevelopment_fall_2025/', target='_blank') http://johnguerra.co/classes/webDevelopment_fall_2025/


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png

        section#lastTime
          section
            h2 What did we learn last time?

          section
            h2 Readings discussion
            ul
              li.fragment questions?

          section
            h2 Random Questions
            ul
              li.fragment What is bootstrap?
              li.fragment What is the grid system?
              li.fragment How do you use bootstrap?
        

        
        section#bootstrap
          section
            h1 Bootstrap


          section.demo
            h2.demo Getting Started
            a.tiny(href="https://getbootstrap.com/docs/5.3/getting-started/introduction/") https://getbootstrap.com/docs/5.3/getting-started/introduction/
            iframe.blocks(data-src="https://getbootstrap.com/docs/5.3/getting-started/introduction/")


          section.demo
            h2.demo The Grid System
            a.tiny(href="https://getbootstrap.com/docs/5.3/layout/grid/#example") https://getbootstrap.com/docs/5.3/layout/grid/#example
            iframe.blocks(data-src="https://getbootstrap.com/docs/5.3/layout/grid/#example")

          section
            h1 Let's see it on action


          section.demo
            h2.demo Examples 
            a.tiny(href="https://getbootstrap.com/docs/5.3/examples/") https://getbootstrap.com/docs/5.3/examples/
            iframe.blocks(data-src="https://getbootstrap.com/docs/5.3/examples/")

          section.demo
            h2.demo Use themes
            a.tiny(href="https://startbootstrap.com/themes?showPro=false") https://startbootstrap.com/
            iframe.blocks(data-src="https://startbootstrap.com/themes?showPro=false")


          section.demo
            h2.demo Components
            a.tiny(href="https://getbootstrap.com/docs/5.3/components/buttons/") https://getbootstrap.com/docs/5.3/components/buttons/
            iframe.blocks(data-src="https://getbootstrap.com/docs/5.3/components/buttons/")


          section.demo
            h2.demo Components
            a.tiny(href="https://getbootstrap.com/docs/5.3/forms/overview/") https://getbootstrap.com/docs/5.3/forms/overview/
            iframe.blocks(data-src="https://getbootstrap.com/docs/5.3/forms/overview/")
          
          
        section#exercise
          section
            h2 Exercise
            p Update your AIRBNB Listings Using Bootstrap 5
            ul
              li.fragment Share your results

        section#project1
          section
            h1 Project 1

          section
            h2 P1 Requirements
            ul.small
              li.fragment Your homepage: Your skills, courses, projects, hobbies, etc.
              li.fragment ✓ #[a(href="https://validator.w3.org/") W3C Compliant]
              li.fragment ✓ Bootstrap 5+ (can use templates)
              li.fragment 
                span ✓ At least two pages (without using AI)
                ul 
                  li.fragment Plus one page using AI 
              li.fragment ✓ At least one JS (Vanilla) feature not copied
              li.fragment ✓ Can use templates
              li.fragment ✓ Ask me for any special libraries you want to use


          section
            h2 P1 Submission Requirements
            ul.small
              li.fragment ✓ Include design document
              li.fragment Github page (README, MIT License, code)
              li.fragment Deployed URL (consider #[a(href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Publishing_your_website#Publishing_via_GitHub") github pages])
                ul
                  li Must remain online 6 months after the class ends
              li.fragment 2 min presentation Google slides
              li.fragment Code review (Github Pull Request)
              li.fragment 3 min Video demonstrating

          section
            h2 Design document
            ul.small
              li.fragment Description
              li.fragment User Stories
              li.fragment Wireframes

          section
            h2 Presentation
            ul.small
              li.fragment Objective
              li.fragment Technologies used
              li.fragment What you are most proud of
              li.fragment What was the hardest part
              li.fragment Demo
              li.fragment Use Google Slides
              li.fragment Make sure they are public

          section
            h2 Code + Github
            ul.small
              li.fragment #[a(href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files") Organized Files]
              li.fragment Good README
              li.fragment MIT License (or equivalent)
              li.fragment Demo linked
              li.fragment Code must freeze 24 hours before the deadline
              li.fragment Create a release

          section
            h2 Good README
            ul.small
              li.fragment Good project name
              li.fragment Project objective
              li.fragment Screenshot (gifs are preferred)
              li.fragment Tech requirements
              li.fragment How to install/use
              li.fragment Author with link to homepage
              li.fragment Reference to the class with link
              li.fragment Link to the video demonstration
              li.fragment Use #[a(href="https://guides.github.com/features/mastering-markdown/") Github Markdown]

          section
            h2 Code Review
            ul.small
              li.fragment Canvas assigns the code reviews
              li.fragment Must be done during the 24hs before the deadline
              li.fragment If the person you are reviewing doesn't have code, tag them in Slack #general
              li.fragment Be respectful
              li.fragment Use positive comments
              li.fragment Praises count
              li.fragment Provide constructive feedback
              li.fragment 
                a(href="https://www.youtube.com/watch?v=fNnIgo4mIeo") How to do Code Reviews



        //- section
        //-   section
        //-     h2 Required Readings Next three sessions
        //-     ul
        //-       li.fragment
        //-         a(href="https://www.codecademy.com/learn/learn-javascript" target="_blank") https://www.codecademy.com/learn/learn-javascript
        //-       li.fragment
        //-         a(href="https://www.youtube.com/watch?v=JxAXlJEmNMg&list=PLEzQf147-uEpvTa1bHDNlxUL2klHUMHJu&index=2", target="_blank") Crockford on Javascript series 1-6
        //-         span  (7+ -> Optional)
        //-       li.fragment (Recommended - Optional)
        //-         a(href="http://javascript.crockford.com/", target="_blank") http://javascript.crockford.com/





  include ../partials/reveal_footer.pug



