doctype html
html
  head
    title CS5610 Web Development, React and Web Architectures
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='CS5610 Web Development, Northeastern University, Oakland')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    include ../partials/reveal_header.pug
  body
    .reveal
      .slides

        section#title
          h2 React and Web Architectures
          img.logo(src="../img/seal_logotype-768x252.png" alt="Northeastern University")


          br
          p.small
            a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]

          p.tiny.email jguerra[at}northeastern.edu |
            a(href='http://twitter.com/duto_guerra' , target='_blank')  @duto_guerra
            br


            //- br
            //- span ja.guerrag en uniandes.edu.co
            //- br
            //- a(href='https://bsky.app/profile/johnguerra.bsky.social') @johnguerra.bsky.social
          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.tiny Slides:
            a(href='http://johnguerra.co/lectures/webDevelopment_spring2025/07_React/', target='_blank') http://johnguerra.co/lectures/webDevelopment_spring2025/07_React/
          p.tiny Class page:
            a(href='http://johnguerra.co/classes/webDevelopment_spring_2025/', target='_blank') http://johnguerra.co/classes/webDevelopment_spring_2025/


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png
        section
          section
            h2 What did we learn last time?

          section
            h2 Readings discussion
            ul
              li.fragment questions?

          section
            h2 Random Questions
            ul
              li.fragment What is a controlled component?
              li.fragment What is a state?
              li.fragment What is a props?
              li.fragment What is a Component's life cycle?

        section
          section
            h1 Web Architectures

          section
            img(src="images/Static HTML.svg", alt="Static HTML")
          section
            img(src="images/CGI.svg", alt="CGI")
          section
            img(src="images/PHP.svg", alt="PHP")
          section
            img(src="images/AJAX.svg", alt="AJAX")
          section
            img(src="images/AJAX Static.svg", alt="AJAX Static")
          section
            img(src="images/Node + Express + Mongo.svg", alt="Node + Express + Mongo")

          section
            img(src="images/MVC (Rails).svg", alt="MVC Reils")
          section
            img(src="images/React.svg", alt="React")


        //- section
        //-   section
        //-     h2 Exercise
        //-     p Update your webpage displaying it from node+express for the class' students loading directly from the Google sheet
        //-     ul
        //-       li.fragment Share your results





  include ../partials/reveal_footer.pug



