doctype html
html
  head
    title ISIS-3710 Web development, Web Design
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='ISIS-3710 Web development, los Andes University')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    //- link(href='../lib/css/reveal.css', rel='stylesheet')
    //- link(href='../lib/css/theme/simple.css', rel='stylesheet')
    //- link(href='../lib/css/zenburn.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    //- Printing and PDF exports -->
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../lib/css/print/pdf.css' : '../lib/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    //- script(src='../lib/js/d3.min.js')
  body


    .reveal
      .slides

        section#title
          h2 Web Design
          img.logo(src="../img/universidad_de_los_andes_logo@2x.png" alt="Los Andes University")

          br
          p.small
            a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]

          p.tiny.email ja.guerrag[at}uniandes.edu.co |
            a(href='http://twitter.com/duto_guerra' , target='_blank')  @duto_guerra
            br


            //- br
            //- span ja.guerrag en uniandes.edu.co
            //- br
            //- a(href='http://twitter.com/duto_guerra') @duto_guerra
          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.tiny Slides:
            a(href='http://johnguerra.co/lectures/webDevelopment_spring2017/07_Web_Design/', target='_blank') http://johnguerra.co/lectures/webDevelopment_spring2017/07_Web_Design/
          p.tiny Class page:
            a(href='http://johnguerra.co/classes/webDevelopment_spring_2017/', target='_blank') http://johnguerra.co/classes/webDevelopment_spring_2017/


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png
        section
          section
            h2 Readings discussion
            ul
              li.fragment questions?

          section
            h2 Random Questions
            ul
              li.fragment Tell me one important component of web design
              li.fragment What is typography matching
              li.fragment What is usability
              li.fragment What is consistency in web design?


        section
          section
            h1 Web Design Fundamentals
            p.fragment or the very basics of it

          section
            h2 Precedence and placement
            ul
              li.fragment What do you want users to do first?
              li.fragment What are your goals/users?

          section
            h2 Airbnb
            ul
              li.fragment What are their goals?
              li.fragment What are their users?
              a(href="https://www.airbnb.com/") https://www.airbnb.com/

          section
            h2 Layouts
            ul
              li.fragment Use hierarchies
              li.fragment Use the grid
              li.fragment Manage spacing
              li.fragment Align and distribute
              li.fragment
                a(href="https://webdesign.tutsplus.com/articles/understanding-visual-hierarchy-in-web-design--webdesign-84" target="_blank") Understanding visual hierarchy in web design

          section
            h2 Layout examples
            a(href="https://designshack.net/articles/layouts/10-rock-solid-website-layout-examples/") https://designshack.net/articles/layouts/10-rock-solid-website-layout-examples/


          section
            h2 Typography

          section
            h2 Why Typography matters
            img(src="http://www.magicalwords.net/wp-content/uploads/2016/01/findYou.png")
            a(href="http://www.magicalwords.net/melissa-gilbert/friday-fundamentals-fonts/") By Melissa Gilbert (magicalwords.net)

          section
            h2 Font Families
            ul
              li.fragment(style="font-family:sans-serif") Sans Serif
              li.fragment(style="font-family:serif") Serif
              li.fragment(style="font-family:cursive") Cursive
              li.fragment(style="font-family:monospace") Monospace
              li.fragment
                a(href="https://developer.mozilla.org/en/docs/Web/CSS/font-family" target="_blank") Others

          section
            h2 Good basic course on typography
            a(href="https://www.codeschool.com/courses/fundamentals-of-design?from_search=design" target="_blank") https://www.codeschool.com/courses/fundamentals-of-design?from_search=design

          section
            h2 Typography Matching
            ul
              li.fragment Create enough difference
              li.fragment e.g. Serif + Sans Serif
              li.fragment
                a(href="http://fontpair.co/" target="_blank") http://fontpair.co/

          section
            h2 Advanced combinations
            a(href="https://www.typography.com/techniques/") https://www.typography.com/techniques/

          section
            h2 Color

          section
            h2 Color Models
            ul
              li.fragment RGB
              li.fragment HSB
              li.fragment CMYK
              li.fragment
                a(href="https://en.wikipedia.org/wiki/Color_model" target="_blank") https://en.wikipedia.org/wiki/Color_model

          section.demo
            h2.demo Color Space
            img.demo(src="https://upload.wikimedia.org/wikipedia/commons/3/37/Colorspace.png")
            a(href="https://en.wikipedia.org/wiki/Color_space" target="_blank") https://en.wikipedia.org/wiki/Color_space

          section
            h2 Color Palettes
            ul
              li.fragment Complementary colors
              li.fragment Homogeneous colors
              li.fragment Triads
              li.fragment Analogous
              li.fragment Monochromatic
              li.fragment
                a(href="https://color.adobe.com" target="_blank") Adobe Color CC

          section
            h2 Tips
            ul
              li.fragment Create enough contrast
              li.fragment Be consistent
              li.fragment Use nature as inspiration
              li.fragment
                a(href="https://webdesign.tutsplus.com/articles/an-introduction-to-color-theory-for-web-designers--webdesign-1437") Color theory intro for web design

          section
            h2.demo 8 golden rules of design
            ul.small
              li.fragment Strive for consistency
              li.fragment Cater for universal usability
              li.fragment Offer informative feedback
              li.fragment Design dialogs to yield closure
              li.fragment Prevent errors
              li.fragment Permit easy reversal of actions
              li.fragment Support internal locus of control
              li.fragment Reduce short-term memory load
            a.tiny(href="https://smile.amazon.com/Designing-User-Interface-Human-Computer-Interaction/dp/013438038X/ref=dp_ob_title_bk") Designing the User Interface: Strategies for Effective Human-Computer Interaction

          section
            h2 Research based web design guidelines
            a(href="https://www.usability.gov/sites/default/files/documents/guidelines_book.pdf" target="_blank") https://www.usability.gov/sites/default/files/documents/guidelines_book.pdf

        section
          section
            h1 Evaluation

          section
            h2.demo Usability Testing
            span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/yandle/3231980616/in/photolist-5VAKeJ-e6vGNu-5VAMNf-5VAJkd-5VASE7-8uu5ej-3j3Cw-7WKyy5-7WKqhG-7WGg1p-bWf1T-cN17Zf-mLmuep-5iDL3Q-7WGaTx-bWf6R-pTf438-7WKzxd-7WGgwR-5VACYA-5VAHzY-5VwiYB-5VAGNL-5VADX3-5VwrGk-7yX8Zc-2vyF2V-7yX96K-dGkneA-7z2MTA-jrkhAN-fQ1cWh-69mwdv-dSJH5t-5iKD8N-2b6Jr-7WGk2x-7WGbSp-5VAQ8f-7WGb6a-7WKXYh-5iFg8H-7WGeMg-7WKssG-7WKtKd-bWffr-7WKt9m-7WKrxA-8ZAttz-7WKzLN" title="Brighton Uni Usability Lab"><img src="https://c1.staticflickr.com/4/3094/3231980616_5ccd164737_b.jpg" width="1024" height="685" alt="Brighton Uni Usability Lab"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


          section
            h2.demo Usability Testing preparation
            ul
              li.fragment Create a task list
              li.fragment Get a consent form
              li.fragment Plan the questions
              li.fragment Run the test on yourself
              li.fragment Open non-biased call for participants

          section
            h2.demo Usability Testing steps
            ul
              li.fragment Consent
              li.fragment User is not being tested
              li.fragment Try not to bias the user
              li.fragment Ask user to think aloud
              li.fragment Post-study survey

          section
            h2 Likert Scale
            p What do you think?
            ul.fragment
              li Strongly disagree
              li disagree
              li ok
              li agree
              li Strongly agree

          section
            h2 More about likert scales
            ul
              li.fragment Can be 3, 5, 7 or more responses
              li.fragment Continuous or Discrete
              li.fragment Middle response is the balance

          section
            h2.demo How to visualize Likert Scale results
            iframe.blocks(src="http://blockbuilder.org/john-guerra/57d31bae7685139cecd731bba9f48090")
            a.tiny(href="http://blockbuilder.org/john-guerra/57d31bae7685139cecd731bba9f48090") http://blockbuilder.org/john-guerra/57d31bae7685139cecd731bba9f48090

          section
            h2.demo Alternatives
            ul
              li.fragment Mechanical Turk
              li.fragment Behavior logs
              li.fragment A/B Testing
              li.fragment Controlled Experiments
              li.fragment Expert reviews

        section
          section
            h2 Next class readings: accessibility
            a.tiny(href="https://www.udacity.com/course/web-accessibility--ud891") https://www.udacity.com/course/web-accessibility--ud891




    script(src='../lib/js/head.min.js')
    script(src='../lib/js/reveal.js')

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        rollingLinks: true,
        transition: "convex",
        //- width: "90%",
        //- height: 1.0,
        dependencies: [
          // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
          { src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },

          // Interpret Markdown in <section> elements
          { src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

          // Syntax highlight for <code> elements
          { src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

          // Zoom in and out with Alt+click
          { src: '../plugin/zoom-js/zoom.js', async: true },

          // Speaker notes
          { src: '../plugin/notes/notes.js', async: true },

          //- // Remote control your reveal.js presentation using a touch device
          //- { src: '../plugin/remotes/remotes.js', async: true },

          //- // MathJax
          //- { src: '../plugin/math/math.js', async: true }
        ]
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72531610-1', 'auto');
      ga('send', 'pageview');



